## Библиотека Pandas

### Задание 1

In [1]:
import pandas as pd

In [9]:
movie_dt = pd.read_csv("/Users/aleksandrsvistunov/Downloads/ml-latest-small/movies.csv")
ratings_dt = pd.read_csv("/Users/aleksandrsvistunov/Downloads/ml-latest-small/ratings.csv")

In [33]:
ratings_dt.query(f' rating == { 5 }', inplace=True)
ratings_dt[['rating','movieId']].groupby('movieId').agg('count').sort_values('rating', ascending = False ).head(1)

         rating
movieId
318         153

### Задание 2

In [82]:
power_dt = pd.read_csv("/Users/aleksandrsvistunov/Downloads/10/power.csv")
power_dt =power_dt[ ( (power_dt['country'] == 'Latvia') | (power_dt['country'] == 'Lithuania' )| (power_dt['country'] == 'Estonia'))]

In [83]:
power_dt = power_dt[ (power_dt['year'] == 2005 ) & (power_dt['year'] <= 2010) ]

In [84]:
power_dt.query( f' category == {[4,12,21]} & quantity > 0', inplace= True )

In [85]:
power_dt['quantity'].agg('sum')

37164.0

### Задание 3

In [ ]:
pd.read_html('https://www.banki.ru/products/currency/cb/')[0]